* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.navbar-section {
  background: blue;
  height: 40px;
  width: 100%;
}

.navpage-section {
  height: 92.5vh;
  width: 100%;
  background-color: rgb(58, 176, 206);
}

.nav-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50rem;
  gap: 3rem;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.5rem;
  color: white;
}

.activeLink {
  background: red;
}
.normalLink {
  background: blue;
}
